{% extends "base.html" %}
<!-- Content block -->
{% block content %}
<div class="container-fluid" style="padding: 0; margin: 0;">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">
            <img src="static/images/pomo-lg.png" alt="logo">
            <span>Pomodoro-clone</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto main-nav">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link " href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;Stats</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;Settings</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-comment" aria-hidden="true"></i>&nbsp;Feedback</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe"
                            aria-hidden="true"></i>&nbsp;English
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle"
                            aria-hidden="true"></i>&nbsp;{{current_user.username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('auth.logout')}}">Logout</a>
                    </div>
                </li>

                {% else %}

                <li class="nav-item">
                    <a class="nav-link " href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;Stats</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;Settings</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-comment" aria-hidden="true"></i>&nbsp;Feedback</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe"
                            aria-hidden="true"></i>&nbsp;English
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle"
                            aria-hidden="true"></i>&nbsp;Sign Up / Login
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('auth.register')}}">Sign Up</a>
                        <a class="dropdown-item" href="{{url_for('auth.login')}}">Login</a>
                    </div>
                </li>

                {%endif%}

            </ul>
        </div>
    </nav>

    <div class="container timer-container">
        <div class="timer-box">
            <div class="row">
                <div class="col-md-3">
                    <a href=""><i class="fa fa-cog" aria-hidden="true"></i></a>&nbsp;
                    <a href=""><i class="fa fa-window-maximize" aria-hidden="true"></i></a>
                </div>

                <div class="time">
                    <span id="display"></span><br>
                    <button type="button" id="subtract"><i class="fa fa-minus" aria-hidden="true"></i></button>&nbsp;
                    <button type="button" id="add"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>

                <div class="col-md-9 timer-button">
                    <button type="button" id="start">START</button>
                    <button type="button" id="pause">Pause</button>
                    <button type="button" id="stop">STOP</button>
                </div>

            </div>
        </div>
    </div>
    <audio id="alarm" src="static/alarm.mp3" preload="auto"></audio>
</div>
{% endblock %}